html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial Black", sans-serif;
    font-size: large;
    color: purple;
}
.float-header, .float-footer {
    width: 100%;
    height: 150px;
    background-color: darkslateblue;
    clear: both;
    overflow: hidden;
    text-align: center;
}
.float-footer img, .float-header img{
    width: auto;
    height: auto;
}
.float-left-content{
    float:left;
    width: 50%;
    height:500px;
    background-color: peachpuff;
    align-content:center;
}
.float-right-content{
    float: right;
    width: 50%;
    height:500px;
    background-color: mistyrose;
    align-content:center;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    flex-direction: row;
}
.flex-left-content, .flex-right-content {
    flex: 1;
    height: 700px;
    align-content:center;
}
.flex-left-content{
    background-color: mistyrose;
}
.flex-header, .flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: darkred;
    overflow: hidden;
}
.flex-header img, .flex-footer img{
    width: auto;
    height: auto;
}
.text{
    padding: 10%;
}

